        <div class="container">
            <h1 class="jumbotron-heading">Book Clubs</h1>
            <p class="lead text-muted">See your saved book clubs here!</p>
            <p>
                <a href="/" class="btn btn-primary">Back to WellRead</a>
            </p>
        </div>

    <% if (vols) { %>
        <% if (vols.length > 0) { %>

            <% let volInfo %> 

            <div class="row">
            <% for (let i = 0; i < Math.min(vols.length, 6); i++) { %> 
                <% volInfo = vols[i].volumeInfo %>
                <div class="card medium col s4">
                    <p><b>
                        <% if (volInfo.title) { %>
                            <%= volInfo.title %> 
                        <% } else { %>
                            Book Title
                        <% } %>
                    </b></p>
                    <!-- comment out subtitle in search result view >
                    <p><i>
                        <% if (volInfo.subtitle) { %>
                            <%= volInfo.subtitle %>
                        <% } %>
                    </i></p>
                    <!-->
                    <p>
                        <% if (volInfo.authors) { %>
                            <%= volInfo.authors[0] %> 
                        <% } else if (volInfo.author) { %>
                            <%= volInfo.author  %> 
                        <% } else { %>
                            No Author(s)
                        <% } %>
                    </p>
                    <div class="row">
                        <div class="col s12">
                            <% if (volInfo.imageLinks) { %>
                                <% if (volInfo.imageLinks.thumbnail) { %>
                                    <img class="image-responsive" src="<%= volInfo.imageLinks.thumbnail %>&zoom=1">
                                <% } else { %>
                                    <img class="image-responsive" src="/img/book-cover.jpg" />
                                <% } %>
                            <% } else { %>
                                <img class="image-responsive" src="/img/book-cover-black.png" style="height:186px;" />
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal<%= i %>">More</a>
                        </div>
                    </div>
                <!--div class="row">
                    <!--div class="col s6">
                            <p style="text-align:left;">
                                <%= volInfo.description %> 
                            </p>
                    </div-->
                    <!--/div-->
                </div>

                <div id="modal<%= i %>" class="modal">
                    <div class="modal-content">                            
                        <% if (volInfo.title) { %>
                            <h4><%= volInfo.title %></h4>
                        <% } else { %>
                            <h4>Book Title</h4>
                        <% } %>
                        <% if (volInfo.subtitle) { %>
                            <p class="lead"><%= volInfo.subtitle %></p>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>

            <% } %>
        <% } else { %>
            <p class="lead">Sorry! No books.</p>
        <% } %>
    <% } %>

<% } %>
<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>